.App {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.titel {
  font-family: "Nekst-Black";
  font-size: 54px;
  line-height: 90%;
  display: flex;
  flex-wrap: wrap;
  width: 753px;
  margin: 32px 0 32px 43px;
}